<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./fontawesome/css/all.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <header>
        <div class="big-screen-nav">
            <nav>
                <div class="big-screen-nav-left center-flex">
                    <img src="./images/github-logo.png" alt="">
                    <div class="nav-search center-flex">
                        <input type="search" placeholder="Search or jump to...">
                        <div class="search-icon">/</div>
                    </div>
                    <ul class="center-flex big-screen-list">
                        <li>Pull requests</li>
                        <li>Issues</li>
                        <li>Marketplace</li>
                        <li>Explore</li>
                    </ul>
                    <ul class="center-flex tab-list">
                        <li>Pulls</li>
                        <li>Issues</li>
                        <li>Marketplace</li>
                        <li>Explore</li>
                    </ul>
                </div>
                <div class="big-screen-nav-right center-flex">
                    <div class="notification">
                        <svg class="octicon octicon-bell" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="M8 16a2 2 0 001.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 008 16z"></path><path fill-rule="evenodd" d="M8 1.5A3.5 3.5 0 004.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.018.018 0 00-.003.01l.001.006c0 .002.002.004.004.006a.017.017 0 00.006.004l.007.001h10.964l.007-.001a.016.016 0 00.006-.004.016.016 0 00.004-.006l.001-.007a.017.017 0 00-.003-.01l-1.703-2.554a1.75 1.75 0 01-.294-.97V5A3.5 3.5 0 008 1.5zM3 5a5 5 0 0110 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.518 1.518 0 0113.482 13H2.518a1.518 1.518 0 01-1.263-2.36l1.703-2.554A.25.25 0 003 7.947V5z"></path></svg>
                        <div class="dot"></div>
                    </div>
                    <div class="add center-flex">
                        <p>+</p>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="profile-dropdown center-flex">
                        <img  class="profilePic">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="small-screen-nav">
            <nav>
                <div class="menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="./images/github-logo.png" alt="" class="github-img">
                <div class="notification">
                    <svg class="octicon octicon-bell" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="M8 16a2 2 0 001.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 008 16z"></path><path fill-rule="evenodd" d="M8 1.5A3.5 3.5 0 004.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.018.018 0 00-.003.01l.001.006c0 .002.002.004.004.006a.017.017 0 00.006.004l.007.001h10.964l.007-.001a.016.016 0 00.006-.004.016.016 0 00.004-.006l.001-.007a.017.017 0 00-.003-.01l-1.703-2.554a1.75 1.75 0 01-.294-.97V5A3.5 3.5 0 008 1.5zM3 5a5 5 0 0110 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.518 1.518 0 0113.482 13H2.518a1.518 1.518 0 01-1.263-2.36l1.703-2.554A.25.25 0 003 7.947V5z"></path></svg>
                    <div class="dot"></div>
                </div>
            </nav>
            <div class="mobile-dropdown">
                <ul>
                    <li>
                        <div class="nav-search center-flex">
                            <input type="search" placeholder="Search Github">
                        </div>
                    </li>
                    <li>Dashboard</li>
                    <li>Pull requests</li>
                    <li>Issues</li>
                    <li>Marketplace</li>
                    <li>Explore</li>
                    <li>
                        <div class="mobile-menu-login center-flex">
                            <img src="./images/profilepic.png" alt="" class="profilePic">
                            <p class="login"></p>
                        </div>
                    </li>
                    <li>
                        <div class="sign-out center-flex">
                            <svg class="octicon octicon-sign-out v-align-middle" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 010 1.5h-2.5a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 010 1.5h-2.5A1.75 1.75 0 012 13.25V2.75zm10.44 4.5H6.75a.75.75 0 000 1.5h5.69l-1.97 1.97a.75.75 0 101.06 1.06l3.25-3.25a.75.75 0 000-1.06l-3.25-3.25a.75.75 0 10-1.06 1.06l1.97 1.97z"></path></svg>
                            <p> Sign Out</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <section>
       <div class="details">
            <div class="profile">
                <div class="profile-img-div">
                    <img  alt="" class="profilePic">
                    <p class="login"></p>
                    <div class="big-screen-smiley">
                        <svg class="octicon octicon-smiley" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM5 8a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zM5.32 9.636a.75.75 0 011.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 111.222.87l-.614-.431c.614.43.614.431.613.431v.001l-.001.002-.002.003-.005.007-.014.019a1.984 1.984 0 01-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.32 3.32 0 01-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 01.183-1.044h.001z"></path></svg>
                    </div>
                </div>
                <button class="small-screen-smiley">
                    <svg class="octicon octicon-smiley" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM5 8a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zM5.32 9.636a.75.75 0 011.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 111.222.87l-.614-.431c.614.43.614.431.613.431v.001l-.001.002-.002.003-.005.007-.014.019a1.984 1.984 0 01-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.32 3.32 0 01-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 01.183-1.044h.001z"></path></svg>
                    <p>Set status</p>
                </button>
                <button class="edit-btn">Edit profile</button>
                <div class="followers">
                    <svg class="octicon octicon-people text-gray-light" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M5.5 3.5a2 2 0 100 4 2 2 0 000-4zM2 5.5a3.5 3.5 0 115.898 2.549 5.507 5.507 0 013.034 4.084.75.75 0 11-1.482.235 4.001 4.001 0 00-7.9 0 .75.75 0 01-1.482-.236A5.507 5.507 0 013.102 8.05 3.49 3.49 0 012 5.5zM11 4a.75.75 0 100 1.5 1.5 1.5 0 01.666 2.844.75.75 0 00-.416.672v.352a.75.75 0 00.574.73c1.2.289 2.162 1.2 2.522 2.372a.75.75 0 101.434-.44 5.01 5.01 0 00-2.56-3.012A3 3 0 0011 4z"></path></svg>
                    <p class="followersCount"></p>
                    <p class="followingCount"></p>
                    <svg class="octicon octicon-star text-gray-light" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z"></path></svg>13
                </div>
                <p class="website"></p>
                <p class="twitter"></p>
                <p class="organizations-p">Organizations</p>
                <div class="organizations">
                </div>
            </div>
            <div class="repos">
                <ul>
                    <li>
                        <div class="repo-nav">
                            <svg class="octicon octicon-book UnderlineNav-octicon hide-sm" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 1.75A.75.75 0 01.75 1h4.253c1.227 0 2.317.59 3 1.501A3.744 3.744 0 0111.006 1h4.245a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-4.507a2.25 2.25 0 00-1.591.659l-.622.621a.75.75 0 01-1.06 0l-.622-.621A2.25 2.25 0 005.258 13H.75a.75.75 0 01-.75-.75V1.75zm8.755 3a2.25 2.25 0 012.25-2.25H14.5v9h-3.757c-.71 0-1.4.201-1.992.572l.004-7.322zm-1.504 7.324l.004-5.073-.002-2.253A2.25 2.25 0 005.003 2.5H1.5v9h3.757a3.75 3.75 0 011.994.574z"></path></svg>
                            <p>Overview</p>
                        </div>
                    </li>
                    <li>
                        <div class="repo-nav">
                            <svg class="octicon octicon-repo UnderlineNav-octicon hide-sm" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg>
                            <p>Repositories</p>
                            <div class="repo-count">
                                20
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="repo-nav">
                            <svg class="octicon octicon-project UnderlineNav-octicon hide-sm" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.75 0A1.75 1.75 0 000 1.75v12.5C0 15.216.784 16 1.75 16h12.5A1.75 1.75 0 0016 14.25V1.75A1.75 1.75 0 0014.25 0H1.75zM1.5 1.75a.25.25 0 01.25-.25h12.5a.25.25 0 01.25.25v12.5a.25.25 0 01-.25.25H1.75a.25.25 0 01-.25-.25V1.75zM11.75 3a.75.75 0 00-.75.75v7.5a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75zm-8.25.75a.75.75 0 011.5 0v5.5a.75.75 0 01-1.5 0v-5.5zM8 3a.75.75 0 00-.75.75v3.5a.75.75 0 001.5 0v-3.5A.75.75 0 008 3z"></path></svg>
                            <p>Projects</p>
                            <div class="repo-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="repo-nav">
                            <svg class="octicon octicon-package UnderlineNav-octicon hide-sm" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.878.392a1.75 1.75 0 00-1.756 0l-5.25 3.045A1.75 1.75 0 001 4.951v6.098c0 .624.332 1.2.872 1.514l5.25 3.045a1.75 1.75 0 001.756 0l5.25-3.045c.54-.313.872-.89.872-1.514V4.951c0-.624-.332-1.2-.872-1.514L8.878.392zM7.875 1.69a.25.25 0 01.25 0l4.63 2.685L8 7.133 3.245 4.375l4.63-2.685zM2.5 5.677v5.372c0 .09.047.171.125.216l4.625 2.683V8.432L2.5 5.677zm6.25 8.271l4.625-2.683a.25.25 0 00.125-.216V5.677L8.75 8.432v5.516z"></path></svg>
                            <p>Packages</p>
                        </div>
                    </li>
                </ul>
                <div class="repo-search">
                    <input type="search" placeholder="Find a repository">
                    <div class="repo-search-btn-div">
                        <button class="repo-search-btn">
                            <p>Type: </p>
                            <p class="input-type">All</p>
                            <i class="fas fa-caret-down"></i>
                            <div class="repo-dropdown-type">
                                <div class="repo-dropdown-heading">
                                    <p>Select Type</p>
                                    <p class="close-repo">X</p>
                                </div>
                                <ul>
                                    <li class="repo-dropdown-item" id="All">
                                        <p class="repo-dropdown-check"></p>
                                        <p>All</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Public">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Public</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Private">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Private</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Sources">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Sources</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Forks">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Forks</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Arhived">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Achieved</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Mirrors">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Mirrors</p>
                                    </li>
                                </ul>
                            </div>
                        </button>
                        <button class="repo-search-btn">
                            <p>Language: </p>
                            <p class="input-language">All</p>
                            <i class="fas fa-caret-down"></i>
                            <div class="repo-dropdown-language">
                                <div class="repo-dropdown-heading">
                                    <p>Select language</p>
                                    <p class="close-repo">X</p>
                                </div>
                                <ul>
                                    <li class="repo-dropdown-item" id="All">
                                        <p class="repo-dropdown-check"></p>
                                        <p>All</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="HTML">
                                        <p class="repo-dropdown-check"></p>
                                        <p>HTML</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="Javascript">
                                        <p class="repo-dropdown-check"></p>
                                        <p>Javascript</p>
                                    </li>
                                    <li class="repo-dropdown-item" id="CSS">
                                        <p class="repo-dropdown-check"></p>
                                        <p>CSS</p>
                                    </li>
                                </ul>
                            </div>
                        </button>
                        <button class="repo-search-btn new-repo">
                            <svg class="octicon octicon-repo" height="16" viewBox="0 0 16 16" version="1.1" width="16" color="white" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg>
                            <p>New</p>
                        </button>
                    </div>
                </div>
                
                
            </div>
            
       </div> 
    </section>
    <section class="main">

    </section>
    <script src="./index.js"></script>
</body>
</html>